.board-container {
    width: 100%;
    border: 1px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.reply{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}
.replies {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content {
    min-height: 200px;
    height: 100%;
}