.Editor {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.board-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.input-title {
    padding: 10px;
    height: 40px;
}

.input-content {
    padding: 10px;
    height: 300px;
}